.background {
    background-color:  var(--hovered-button-background-color);
  }
/* .backgroundImg{
  width: 100vw;
  height: 100vh;
  background-image: url($../../../../assets/img/rentcar_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
} */

  