@import-normalize;
/* @import 'bootstrap/dist/css/bootstrap.css'; */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --pr-background-color: #ffffff;
  --pr-text-color: #8A8A89;
  --pr-text-color: #121417;
  --pr-input-background-color: #f7f7fb;
  --pr-button-background-color: #3470ff;
  --hovered-button-background-color: #0b44cd;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Manrope";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 60px;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  margin: 0;
  list-style: none;
}
nav, ul{
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: unset;
}
